body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

main {
    flex: 1 0 auto;
}

body.signForm {
    background-image: url(../images/bg.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

body.signForm nav.white {
    background-color: transparent !important;
}

body.signForm * {
    color: #fff !important;
}

body.signForm footer, body.signForm .page-footer, body.signForm .grey, body.signForm .darken-2 {
    background-color: transparent !important;
}

.background {
    height: 100%;
    background-image: url(../images/bg.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}


/* Navbar */

nav .brand-logo {
    padding: 0 15px 0 15px;
}

nav li a i {
    font-size: 1.3rem !important;
    line-height: inherit !important;
}

nav li a.btn {
    margin-left: 5px !important;
    margin-right: 5px !important;
}

@media only screen and (max-width: 601px) {
    nav li a span {
        display: none;
    }
    nav li a i {
        margin: 0px !important;
    }
}

.progress.nav {
    position: absolute !important;
    margin-top: 0px !important;
}

.preloader-holder {
    z-index: 2;
    position: absolute;
    top: 0px;
    bottom: 0px;
    height: 100%;
    width: 100%;
    background-color: #ee6e73;
    opacity: .8;
}

.preloader-text {
    text-align: center;
    position: fixed !important;
    top: 10px;
    width: 100%;
}

.preloader-wrapper {
    position: fixed !important;
    top: 50%;
    left: 50%;
    margin-left: -34px;
    margin-top: -34px;
}

.slides>li>img {
    background-size: contain !important;
    background-repeat: no-repeat !important;
}

footer.page-footer {
    margin-top: 20px;
    padding-top: 0px;
    background-color: #ee6e73;
}

.footer-copyright, .navpad {
    padding-left: 15px;
    padding-right: 15px;
}

.workplace {
    background-color: #333;
    display: block;
    position: relative;
    border-radius: 2px 2px 0 0;
    height: 400px;
    width: 100%;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    text-align: center;
}

.workplace canvas, .workplace img {
    display: none;
}

.row.option a {
    display: block;
    text-align: center;
}

.row.option a i {
    margin-right: 4px;
}

#filters {
    white-space: nowrap;
    overflow-x: scroll;
}

#filters li {
    display: inline-block;
    margin: 0 15px 0 0;
}

#filters li:last-child {
    margin-right: 0;
}

#filters li a img {
    display: block;
}

#filters li a {
    display: block;
    text-align: center;
    cursor: pointer;
}

#filters li a.active {
    cursor: default;
}
