<!DOCTYPE html>
<html ng-app="photoApp">

<head>
  <link rel="shortcut icon" href="favicon.ico" type="image/x-icon" />
  <!--Import Google Icon Font-->
  <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <!--Import materialize.css-->
  <link type="text/css" rel="stylesheet" href="css/materialize.min.css" media="screen,projection" />
  <link type="text/css" rel="stylesheet" href="css/base.css" media="screen,projection" />
  <!-- js -->


  <!--Let browser know website is optimized for mobile-->
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>

<body ng-controller='appController'>
  <header>
    <div id="nav" class="navbar-fixe d">
      <nav class="white row nav-extended">
        <div class="col s2 grey-text ">
          <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="grey-text material-icons">menu</i></a></div>
        <div class="col s4 grey-text brand-logo"></div>

        <div class="nav-content grey-text">
          <ul class="tabs tabs-transparent">
            <li class="tab"><a href="#test1">Test 1</a></li>
          </ul>
        </div>
      </nav>
    </div>
    <ul class="side-nav" id="mobile-demo">
      <li>
        <div ng-click="openUser()" class="userView">
          <div class="background">

          </div>
          <a><img class="circle" ng-src="{{index.src}}" alt="Avatar" /></a>
          <a><span class=" white-text name">{{index.name}}</span></a>
          <a><span class=" white-text email">{{index.email}}</span></a>
        </div>
      </li>
      <!-- <li ng-repeat="link in index.links"><a class=" {{link.class}}" href="{{link.url}}">{{link.title}}</a></li>
      <li ng-repeat="btn in index.btns"><a class="waves-effect waves-light btn" data-target="{{btn.target}}">{{btn.title}}</a></li> -->
    </ul>
  </header>
  <main>
    <div class="ng-view"></div>
  </main>
  <footer class="page-footer grey darken-2">
    <div class="footer-copyright grey darken-3">
      <div class=" ">&copy; 2016 photoAPP
      </div>
    </div>
  </footer>
  <!--Import jQuery before materialize.js-->
  <script type="text/javascript" src="js/jquery-3.2.1.min.js"></script>
  <script type="text/javascript" src="js/materialize.js"></script>

  <script src="js/jquery.mousewheel.min.js"></script>


  <script type="text/javascript" src="app/routie.min.js"></script>
  <script src="app/sign.js"></script>
  <script src="app/album.js"></script>
  <script src="app/photo.js"></script>
  <script src="app/show.js"></script>

  <div class="result">

  </div>


  <script type="text/javascript">
    $('nav.white').addClass('z-depth-0');
    $(window).scroll(function() {
      if ($(document).scrollTop() > 1) {
        $('.navbar-fixed > nav.white').removeClass('z-depth-0');
      } else {
        $('.navbar-fixed > nav.white').addClass('z-depth-0');
      }
    });
    $(document).ready(function() {
      //$('.button-collapse').sideNav();
      var obj = [];
      var setTab = function(obj) {
        $('ul.tabs').html("");
        $.each(obj, function(i, v) {
          var li = $('<li class="tab grey-text "><a class="grey-text" href="' + v.url + '">' + v.url + '</a></li>');
          $('ul.tabs').append(li);
        });
      }
      setTab(obj);
      routie({
        'album': function() {
          $('header').show();
          $(document).triggerHandler('openAlbum');
          obj = [{
            url: '#album',
            title: 'Album'
          }];
          setTab(obj);
        },
        'photo/:id': function(id) {
          $('header').show();
          $(document).triggerHandler('openPhoto', [id]);
          obj = [{
            url: '#album',
            title: 'Album'
          }];
          setTab(obj);
        },
        'photo/:album/show/:id': function(album, id) {
          $('header').show();
          $(document).triggerHandler('openShow', [album, id]);
          obj = [{
            url: '#album',
            title: 'Album'
          }];
          setTab(obj);
        },
        'signin': function(id) {
          $('header').hide();
          $(document).triggerHandler('openSignin', [id]);
          obj = [{
            url: '#album',
            title: 'Album'
          }];
          setTab(obj);
        },
        '*': function() {
          $('header').show();
          $(document).triggerHandler('openAlbum');
          obj = [{
            url: '#album',
            title: 'Album'
          }];
          setTab(obj);
        }
      });
    });
    /*http://projects.jga.me/routie/#toc1*/
  </script>

</body>

</html>
