<div>
  <div class="col s12 m6 l3">
    <div class="card hoverable">
      <div class="options">
        <a class="waves-effect waves-teal btn-flat white-text open" ><i class="material-icons">desktop_windows</i>
        </a>
        <a class="waves-effect waves-teal btn-flat white-text edit" ><i class="material-icons">mode_edit</i>
        </a>
        <a class="waves-effect waves-teal btn-flat white-text delete" ><i class="material-icons">delete</i>
        </a>
      </div>
      <div class="card-image" ng-click="open(album.id,album.title)">
        <img/>
        <span class="card-title"> </span>
      </div>
    </div>
  </div>
</div>
