<div class="col s12 m6 l3">
  <div class="card hoverable">
    <div class="options">
      <div class="dropdown-group">
        <a class="waves-effect btn-flat"><i class="white-text material-icons">more_vert</i></a>
        <ul  class='dropdown-content'>
          <li class="edit"><a><i class="material-icons left">mode_edit</i>Edi</a></li>
          <li class="delete"><a><i class="material-icons left">delete</i>Delete</a></li>
        </ul>
      </div>
    </div>
    <div class="card-image open">
      <span class="card-title"> </span>
    </div>
  </div>
</div>
