<div class="row" id="photos">

</div>
<div class="fixed-action-btn" style="bottom: 45px; right: 24px;">
	<a id="add" class="btn-floating btn waves-effect waves-light blue lighten-1">
		<i class="material-icons">add</i>
	</a>
</div>
<div id="modal1" class="modal">
	<div class="modal-content" style=" position: relative; ">
		<h4>Picture processing</h4>
		<p class="info">take a while</p>
		<div class="progress">
			<div class="determinate" style="width: 1%"></div>
		</div>
		<div id="preview"></div>
	</div>
</div>
<input type="file" id="file" style="display:none;" accept=".gif, .jpg, .png, .jpeg" multiple>
<!-- Modal Structure -->
<div ng-include="templateUrl"></div>
