<div class="slider fullscreen" data-indicators="true">
    <div class="progress nav">
        <div class="indeterminate"></div>
    </div>
    <ul class="slides grey darken-4">

    </ul>
</div>
<div class="fixed-action-btn vertical click-to-toggle" style="bottom: 45px; right: 25px;">
    <a class="btn-floating btn-large blue lighten-1">
        <i class="material-icons">menu</i>
    </a>
    <ul>
        <li id="exit">
            <a class="btn-floating blue lighten-1">
                <i class="material-icons">close</i>
            </a>
        </li>
        <li id="prev">
            <a class="btn-floating blue lighten-1">
                <i class="material-icons">fast_rewind</i>
            </a>
        </li>
        <li id="pause">
            <a class="btn-floating blue lighten-1">
                <i class="material-icons pause">pause_circle_outline</i>
            </a>
        </li>
        <li id="play">
            <a class="btn-floating blue lighten-1">
                <i class="material-icons play">play_circle_outline</i>
            </a>
        </li>
        <li id="next">
            <a class="btn-floating blue lighten-1">
                <i class="material-icons">fast_forward</i>
            </a>
        </li>
        <li id="edit">
            <a class="btn-floating blue lighten-1">
                <i class="material-icons">mode_edit</i>
            </a>
        </li>
    </ul>
</div>
